@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

 :root {
    --color-jaune: #b8753a;
    --color-jaunedeg: #8e5524;
    --color-bleufonce: #19587d;
    --color-rougefonce: #b11313;
    --bg-color: #0d0e09;
    --color-blanc1-degrade: #675f57;
    --color-blanc2-degrade: #19587d;
    --color-rouge-degrade: #890008;
    --color-gris: #74665c;
    --color-black: #000000;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --color-blanc: #ffffff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--color-black);
    background-image: url("../assets/Illustrations/game/Batgame_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-top: none;
    align-items: center;
    margin: 0 6.5%;
    margin-right: 9rem;
    margin-bottom: 2rem;
    padding-bottom: 80rem;
    border-bottom: 2px solid #ffffff80;
    border-left: 2px solid #ffffff80;
    border-right: 2px solid #ffffff80;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffffff80;
}

.logo a img {
    top: 10px;
    margin-left: 0;
    position: relative;
    display: flex;
    width: 100px;
    height: 35px;
}

.logo:hover,
.logo.active,
.reseau img:hover {
    filter: invert(4%) sepia(100%) saturate(1023%) hue-rotate(358deg) brightness(106%) contrast(107%);
    -webkit-filter: invert(4%) sepia(100%) saturate(1023%) hue-rotate(358deg) brightness(106%) contrast(107%);
}

.navbar {
    position: relative;
    font-size: 50px;
    margin-left: 100px;
}

.navbar a {
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 100;
    padding-left: 10px;
    margin-left: 2rem;
    margin-right: 0.5px;
    font-family: 'rajdhani', sans-serif;
}

.navbar a:hover,
.navbar a.active {
    font-weight: bold;
    text-decoration: underline;
}

.logo_fb,
.logo_ig,
.logo_twitter {
    margin-top: 20px;
    top: 120px;
    position: relative;
    display: flex;
    left: 107.8rem;
    height: 20px;
    width: 20px;
    background-color: transparent;
}

.reseau img {
    background-color: transparent;
}

.logo_twitter-clone {
    position: absolute;
    top: 51.5rem;
    left: -25px;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
    height: 25px;
    width: 25px;
    background-color: transparent;
}

.logo_twitter:hover+.logo_twitter-clone {
    left: 116rem;
    opacity: 1;
}

.reseau .fleche1 {
    margin-top: 20px;
    top: 115px;
    position: relative;
    left: 104.5rem;
    height: 50px;
    width: 90px;
}

.reseau .fleche2 {
    margin-top: 20px;
    top: 125px;
    display: flex;
    position: relative;
    left: 104.5rem;
    height: 50px;
    width: 90px;
}

.home-content {
    color: var(--color-blanc);
    position: relative;
    display: inline-block;
    left: 15rem;
    top: 195px;
    width: 50%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'rajdhani', sans-serif;
    letter-spacing: 4px;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.fleche_down {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 40px;
    top: 28rem;
}

.fleche_down.hidden {
    display: none;
}

.home h2 {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    font-family: 'rajdhani', sans-serif;
    color: var(--color-blanc);
    top: 350px;
    right: 925px;
    transition: top 1s, right 1s;
}

.imagebat {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 37rem;
    width: 80rem;
    opacity: 0;
    transform: scale(1.15);
    transition: transform 1s, opacity 1s;
    transform-origin: left right;
}

.btn-box {
    position: relative;
    display: flex;
    top: 425px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    font-family: 'rajdhani', sans-serif;
    background: linear-gradient(100deg, var(--color-gris), var(--color-jaune));
}

.quizButton {
    position: absolute;
    left: 50rem;
    top: 140rem;
    height: 60px;
    width: 300px;
    font-family: 'rajdhani', sans-serif;
    background: linear-gradient(100deg, var(--color-gris), var(--color-jaune));
}

.quizresultat {
    position: absolute;
    left: 50rem;
    top: 140rem;
    margin: 0 auto;
    height: 60px;
    width: 300px;
    font-family: 'rajdhani', sans-serif;
    background: linear-gradient(100deg, var(--color-gris), var(--color-jaune));
}

.retour {
    display: flex;
    position: relative;
    top: 13rem;
    left: 20rem;
    margin-left: 0 auto;
    height: 60px;
    width: 300px;
    font-family: 'rajdhani', sans-serif;
    background: linear-gradient(100deg, var(--color-gris), var(--color-jaune));
}

.quizButton a {
    position: absolute;
    left: 7rem;
    top: 20px;
    text-align: center;
    font-size: 18px;
    color: var(--color-blanc);
}

.btn-box a {
    font-size: 18px;
    color: var(--color-blanc);
}

.quizresultat a,
.retour a {
    position: absolute;
    left: 7rem;
    top: 20px;
    text-align: center;
    font-size: 18px;
    color: var(--color-blanc);
}


/*footer style*/

.footer p {
    position: relative;
    text-align: center;
    font-weight: 10;
    left: 30px;
    top: 65rem;
    color: var(--color-blanc);
    font-family: 'space grotesk', sans-serif;
}

.footer .icon_wb {
    display: flex;
    left: 29rem;
    position: relative;
    top: 67rem;
}

.footer .Res {
    position: relative;
    left: 400px;
    display: flex;
    top: 70rem;
    text-align: center;
    align-items: center;
    background: transparent;
    margin: -20px;
}

.Res .reseau {
    margin: 15px;
    height: 20px;
    width: 20px;
}

.Res img:hover,
.logo_twitter:hover,
.footer .icon_wb:hover {
    cursor: pointer;
    filter: invert(4%) sepia(100%) saturate(1023%) hue-rotate(358deg) brightness(106%) contrast(107%);
}

.x {
    align-items: center;
    margin: 15px;
    text-align: center;
}

.cases {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    left: 5px;
    margin: 3% 0;
    width: 25px;
    height: 25px;
    background-color: green;
}

#case4 {
    position: relative;
    top: 0.5rem;
}

.case-cont1:hover,
.case-cont2:hover,
.case-cont3:hover,
.case-cont4:hover {
    background-color: darkslategrey;
}

.case-cont1,
.case-cont2,
.case-cont3 {
    display: flex;
    position: relative;
    top: 50rem;
    left: 400px;
    width: 465px;
    height: 40px;
    background-color: #787878;
    border-color: white;
    align-items: center;
}

.case-cont4 {
    display: flex;
    position: relative;
    top: 48.8rem;
    left: 400px;
    width: 465px;
    height: 40px;
    background-color: #787878;
    border-color: white;
    align-items: center;
}

.choix4 {
    display: flex;
    font-family: 'rajdhani', sans-serif;
    position: relative;
    font-weight: 10rem;
    font-size: 150%;
    left: 3.5rem;
    top: -3rem;
    color: var(--color-blanc);
}

.choix1,
.choix2,
.choix3 {
    display: flex;
    font-family: 'rajdhani', sans-serif;
    position: relative;
    font-weight: 10rem;
    font-size: 150%;
    left: 1rem;
    color: var(--color-blanc);
}

.compteur h1 {
    color: var(--color-blanc);
    display: flex;
    position: relative;
    font-size: 300%;
    font-weight: bold;
    left: 55rem;
    font-family: 'rajdhani', sans-serif;
    top: 40rem;
}

.sujet {
    margin-right: 57rem;
    color: var(--color-blanc);
    position: relative;
    font-weight: 100;
    font-size: 200%;
    left: 40rem;
    top: 50rem;
    font-family: 'rajdhani', sans-serif;
}

#perso1 {
    width: 18rem;
    height: 30rem;
    display: flex;
    position: relative;
    left: 20rem;
    opacity: 5;
    top: 25rem;
}

#perso2 {
    width: 15rem;
    height: 15rem;
    position: relative;
    right: -20rem;
    opacity: 5;
    top: 25rem;
}

#perso3 {
    width: 25rem;
    height: 30rem;
    position: relative;
    right: -15rem;
    opacity: 5;
    top: 45rem;
}

#perso4 {
    width: 12rem;
    height: 12rem;
    position: relative;
    left: 85rem;
    top: 10rem;
    opacity: 5;
}

#perso5 {
    width: 20rem;
    height: 20rem;
    position: relative;
    left: 15rem;
    top: 25rem;
}

#perso6 {
    width: 20rem;
    height: 25rem;
    position: relative;
    left: 73rem;
    top: 35rem;
}

#perso7 {
    width: 25rem;
    height: 25rem;
    position: relative;
    left: 15rem;
    top: 10rem;
}

#perso8 {
    height: 30;
    width: 30;
    position: relative;
    left: 17rem;
    top: 25rem;
}

#perso9 {
    width: 20rem;
    height: 20rem;
    position: relative;
    left: 70rem;
    top: -13rem;
}

#perso10 {
    width: 13rem;
    height: 16rem;
    position: relative;
    left: 71rem;
    top: 11rem;
}


/* CSS pour l'animation de droite à gauche */

.slide-in {
    animation: 0.5s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#affiche-resultat {
    position: relative;
    top: 50rem;
    height: 50rem;
    width: 70rem;
    border-radius: 5rem;
    margin: 0 auto;
    align-items: center;
    background: linear-gradient(160deg, #0d0e09, #623a17f8);
    font-family: 'rajdhani', sans-serif;
}

#affiche-resultat h1 {
    text-decoration-line: underline;
    position: relative;
    top: 5rem;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    font-family: 'rajdhani', sans-serif;
    color: var(--color-blanc);
}

#affiche-resultat p {
    position: relative;
    justify-content: center;
    margin: 7rem;
    top: 7rem;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.3;
    font-family: 'rajdhani', sans-serif;
    color: var(--color-blanc);
}


/* Styles pour les écrans de petite taille */

@media screen and (max-width: 768px) {
    body {
        background-image: url("../assets/Illustrations/game/Batgame_1.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 5%;
        margin-right: 20px;
        padding-bottom: 20rem;
        /* Ajustez la valeur selon vos besoins */
    }
    .header {
        padding: 1rem 5%;
    }
    .logo a img {
        width: 80px;
        /* Ajustez la taille du logo pour les petits écrans */
        height: 30px;
        /* Ajustez la taille du logo pour les petits écrans */
    }
    .logo_twitter,
    .logo_ig,
    .logo_fb {
        margin-top: 10px;
        right: 20px;
        /* Ajustez la marge à droite pour les petits écrans */
    }
    .reseau img {
        width: 20px;
        /* Ajustez la taille des icônes de réseau social pour les petits écrans */
        height: 20px;
        /* Ajustez la taille des icônes de réseau social pour les petits écrans */
    }
    .home-content {
        font-size: 24px;
        /* Ajustez la taille de la police pour les petits écrans */
        left: 0;
        top: 155px;
        /* Ajustez la position verticale */
    }
}


/* Styles pour les écrans de taille normale */

@media screen and (min-width: 769px) {
    body {
        background-image: url("../assets/Illustrations/game/Batgame_1.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* ... Autres styles pour les écrans de taille normale ... */
}